## Acessando SQL SERVER

In [1]:
import pyodbc

conn = pyodbc.connect('DRIVER={ODBC Driver 18 for SQL Server};'
                      'SERVER=localhost,1434;'
                      'DATABASE=FinanceiroSQLServer;'
                      'UID=sa;'
                      'PWD=SuaSenhaForteAqui!123;'
                      'Encrypt=yes;TrustServerCertificate=yes;',
                       autocommit=False  
)
cur = conn.cursor()
cur.execute("SELECT TOP 1 name FROM sys.databases;")
print(cur.fetchone())
conn.close()

('master',)

## Acessando MySQL

In [2]:
import mysql.connector
from mysql.connector import Error

try:
    # Conexão ao banco de dados
    conexao = mysql.connector.connect(
        host='localhost',      
        database='ClientesMySQL',  
        user='root',    
        password='1234'   
    )

    if conexao.is_connected():
        print("Conexão bem-sucedida ao MySQL!")
            
        # Executando uma consulta
        cursor = conexao.cursor()
        cursor.execute("SELECT * FROM Clientes")
        resultados = cursor.fetchall()
            
        # Exibindo os resultados
        print("Resultados da consulta:")
        for linha in resultados:
            print(linha)

except Error as e:
    print(f"Erro ao conectar ao MySQL: {e}")
finally:
    # Fechando a conexão
    if 'conexao' in locals() and conexao.is_connected():
        cursor.close()
        conexao.close()
        print("Conexão ao MySQL encerrada.")

Conexão bem-sucedida ao MySQL!
Resultados da consulta:
(1, 'Andrew Knapp', 'david26@perry-vasquez.com', datetime.date(2021, 12, 31), 'Macao', 'Oregon', None)
(2, 'Brian Sanchez', 'kenneth27@washington-krause.com', datetime.date(2020, 6, 13), 'Palau', 'Louisiana', None)
(3, 'Whitney Nguyen', 'swang@gmail.com', datetime.date(2023, 6, 27), 'Panama', 'Texas', None)
(4, 'Anita Ramos', 'donaldmiller@gonzalez.com', datetime.date(2022, 12, 17), 'Maldives', 'South Carolina', None)
(5, 'Alice Smith', 'ellisandre@frederick.com', datetime.date(2023, 6, 2), 'Montserrat', 'Alabama', None)
(6, 'Andrew Sherman', 'hendersoncassandra@gmail.com', datetime.date(2024, 5, 16), 'Cyprus', 'Texas', None)
(7, 'Mark Bell', 'dawn89@gonzalez.com', datetime.date(2023, 1, 16), 'Chile', 'Alaska', None)
(9, 'Chelsea Brown', 'lesliethompson@yahoo.com', datetime.date(2020, 5, 6), 'Guatemala', 'Iowa', None)
(10, 'Justin West', 'douglasjohnson@yahoo.com', datetime.date(2024, 4, 1), 'Saudi Arabia', 'California', None)
(11, 'Reginald Boone', 'rowejessica@hernandez.com', datetime.date(2021, 4, 22), 'Moldova', 'Minnesota', None)
(12, 'Alexis Anthony', 'hesscrystal@roach-costa.biz', datetime.date(2024, 2, 18), 'Kenya', 'Texas', None)
(13, 'William Graham', 'ldodson@yahoo.com', datetime.date(2022, 3, 6), 'Bermuda', 'West Virginia', None)
(14, 'Christopher Marks', 'mcdanieltimothy@green.net', datetime.date(2020, 5, 10), 'Wallis and Futuna', 'Wyoming', None)
(15, 'Jared Ortiz', 'davidswanson@gmail.com', datetime.date(2021, 8, 26), 'Zimbabwe', 'Oklahoma', None)
(16, 'Kelly Tyler', 'adamselizabeth@yahoo.com', datetime.date(2021, 2, 2), 'Saint Kitts and Nevis', 'Oregon', None)
(17, 'Toni Page', 'williamschristie@pierce-sanchez.com', datetime.date(2022, 5, 30), 'Iran', 'Arizona', None)
(18, 'Emily Bell', 'debra65@johnson-benson.org', datetime.date(2021, 4, 10), 'Bahamas', 'Florida', None)
(19, 'Christopher Kaiser', 'heather80@marshall-andrews.org', datetime.date(2021, 8, 1), 'Chad', 'Oregon', None)
(20, 'Angela Williamson', 'barneswilliam@hotmail.com', datetime.date(2022, 3, 13), 'Bosnia and Herzegovina', 'Maine', None)
(21, 'David Webster', 'melissachambers@yahoo.com', datetime.date(2024, 7, 5), 'El Salvador', 'Tennessee', None)
(22, 'Brian Miller', 'tracy47@yahoo.com', datetime.date(2023, 1, 17), 'Cameroon', 'Arkansas', None)
(23, 'Holly Brady', 'eileen47@gmail.com', datetime.date(2022, 9, 6), 'Puerto Rico', 'Montana', None)
(24, 'Alexander Swanson', 'lsanders@knight.org', datetime.date(2023, 10, 1), 'Belize', 'South Dakota', None)
(25, 'Luis Sanders', 'othompson@young.com', datetime.date(2020, 11, 21), 'Comoros', 'Pennsylvania', None)
(26, 'Jeremy Martin', 'billgarrett@williams.com', datetime.date(2023, 12, 16), 'Bahamas', 'Vermont', None)
(27, 'Erika Ryan', 'mcfarlandhannah@lawrence-peterson.com', datetime.date(2024, 6, 26), 'Macao', 'California', None)
(28, 'Kyle Miller', 'breanna01@jenkins.org', datetime.date(2022, 11, 17), 'Timor-Leste', 'Kansas', None)
(29, 'Ryan Lopez', 'brian67@gmail.com', datetime.date(2021, 5, 22), 'Iceland', 'Kansas', None)
(30, 'David Bell', 'jonathan68@hotmail.com', datetime.date(2021, 5, 29), 'Western Sahara', 'South Dakota', None)
(31, 'April Kirk', 'medinajeffrey@yahoo.com', datetime.date(2024, 6, 7), 'United Arab Emirates', 'New Jersey', None)
(32, 'Allison Finley', 'adrian52@henderson-taylor.biz', datetime.date(2021, 3, 6), 'Suriname', 'Indiana', None)
(33, 'Sarah Patton', 'mdiaz@lee-johnson.net', datetime.date(2022, 7, 2), 'Rwanda', 'Hawaii', None)
(34, 'Jason Campbell', 'curtisamanda@pacheco-taylor.com', datetime.date(2020, 3, 25), 'Thailand', 'Montana', None)
(35, 'Scott Schmidt', 'michael47@howard.net', datetime.date(2021, 7, 14), 'Reunion', 'Texas', None)
(36, 'Sean Walker', 'hubbarddouglas@gmail.com', datetime.date(2022, 10, 3), 'Singapore', 'New Jersey', None)
(37, 'Lauren Baker', 'oking@beck.info', datetime.date(2022, 3, 26), 'Niue', 'Ohio', None)
(38, 'Jessica Arroyo', 'emilypaul@gmail.com', datetime.date(2020, 11, 4), 'Wallis and Futuna', 'Massachusetts', None)
(39, 'Lisa Phelps', 'hcampbell@gmail.com', datetime.date(2022, 9, 11), 'Liberia', 'Virginia', None)
(40, 'William Wright', 'pperkins@yahoo.com', datetime.date(2024, 2, 6), 'Puerto Rico', 'Michigan', None)
(41, 'Robert Jimenez', 'hollyhopkins@hotmail.com', datetime.date(2021, 10, 25), 'Germany', 'Pennsylvania', None)
(42, 'Elizabeth Mccann', 'wallsdiana@thomas-holmes.com', datetime.date(2021, 1, 14), 'Jamaica', 'Minnesota', None)
(43, 'Adam Nolan', 'david82@gmail.com', datetime.date(2020, 2, 25), 'Finland', 'Hawaii', None)
(44, 'Joy Henry', 'zachary97@peterson.biz', datetime.date(2022, 1, 30), 'Heard Island and McDonald Islands', 'Illinois', None)
(45, 'Sandra Bailey', 'kelly36@hotmail.com', datetime.date(2024, 8, 22), 'Bahrain', 'Colorado', None)
(46, 'Andrea Matthews', 'melissadonaldson@keller.com', datetime.date(2024, 10, 31), 'Palestinian Territory', 'Montana', None)
(47, 'Terry Simmons', 'ashleysanchez@hughes-bernard.com', datetime.date(2020, 3, 2), 'Mauritania', 'Arkansas', None)
(48, 'Danielle Miller', 'johnsonstephanie@yahoo.com', datetime.date(2022, 8, 6), 'Brunei Darussalam', 'Texas', None)
(49, 'Allison Ruiz', 'terrigarrett@martinez.info', datetime.date(2023, 11, 24), 'Turks and Caicos Islands', 'Pennsylvania', None)
(50, 'Christopher Young', 'lovemario@yahoo.com', datetime.date(2023, 3, 20), 'Liechtenstein', 'Georgia', None)
(51, 'Paige Larson DDS', 'austin36@bonilla-howard.com', datetime.date(2024, 9, 3), 'Svalbard & Jan Mayen Islands', 'North Carolina', None)
(52, 'Laura Davis', 'jesusneal@hotmail.com', datetime.date(2022, 12, 22), 'Cayman Islands', 'Virginia', None)
(53, 'William Marquez', 'gainesjordan@mckenzie-bailey.com', datetime.date(2020, 8, 31), 'Estonia', 'Montana', None)
(54, 'Katrina Lee', 'sharonsanchez@gmail.com', datetime.date(2022, 1, 15), 'Bhutan', 'Florida', None)
(55, 'Wayne Scott', 'brian97@jarvis-smith.com', datetime.date(2024, 8, 17), 'Chile', 'Minnesota', None)
(56, 'Alyssa Hoover', 'ypollard@gmail.com', datetime.date(2023, 7, 2), 'Iraq', 'Rhode Island', None)
(57, 'Sandra Allen', 'schultzamber@yahoo.com', datetime.date(2020, 12, 12), 'Congo', 'Minnesota', None)
(58, 'Gail Rosario', 'paynejoseph@gmail.com', datetime.date(2021, 6, 25), 'Luxembourg', 'New York', None)
(59, 'Albert Turner', 'doughertychristina@williamson-huynh.com', datetime.date(2020, 8, 3), 'Djibouti', 'Louisiana', None)
(60, 'Rachael Yang', 'robertcollins@sanchez-harrington.com', datetime.date(2023, 5, 12), 'Vietnam', 'New Hampshire', None)
(61, 'William Ramos', 'pvelazquez@saunders-mendoza.com', datetime.date(2021, 2, 18), 'Denmark', 'New Hampshire', None)
(62, 'Mark Sweeney', 'montgomeryryan@hotmail.com', datetime.date(2022, 12, 13), 'Finland', 'Ohio', None)
(63, 'Kathleen Skinner', 'ayalaleslie@hotmail.com', datetime.date(2024, 1, 23), 'Ethiopia', 'Kentucky', None)
(64, 'Donna Kelly', 'john96@small-cross.net', datetime.date(2023, 11, 27), 'Faroe Islands', 'Illinois', None)
(65, 'John Boone', 'belinda15@gmail.com', datetime.date(2021, 11, 19), 'Mexico', 'Texas', None)
(66, 'Jorge Thomas', 'matthew93@wilcox.com', datetime.date(2021, 10, 16), 'Australia', 'New York', None)
(67, 'Matthew Ferguson II', 'wesleyreed@hotmail.com', datetime.date(2023, 4, 12), 'Yemen', 'New York', None)
(68, 'Kaitlyn Howell', 'zimmermanjacob@gmail.com', datetime.date(2023, 3, 17), 'Chad', 'Vermont', None)
(69, 'Antonio Robinson', 'dennis55@chen.org', datetime.date(2022, 1, 5), 'Saint Martin', 'Illinois', None)
(70, 'Dustin Blake', 'mmcclain@bond.com', datetime.date(2020, 9, 10), 'Cameroon', 'Wisconsin', None)
(71, 'Matthew Cole', 'rbarber@yahoo.com', datetime.date(2023, 8, 25), 'Pakistan', 'Alaska', None)
(72, 'Mark Morton', 'patriciaspencer@austin.com', datetime.date(2021, 5, 25), 'Cote dIvoire', 'Wyoming', None)
(73, 'Xavier Armstrong', 'christopherwilliamson@hotmail.com', datetime.date(2022, 5, 12), 'Albania', 'South Carolina', None)
(74, 'Allison Vega', 'tarmstrong@gmail.com', datetime.date(2020, 8, 27), 'Saint Lucia', 'Rhode Island', None)
(75, 'Daniel Green', 'ujohnson@duffy.com', datetime.date(2023, 10, 4), 'Ecuador', 'Ohio', None)
(76, 'Douglas Lee', 'hillanna@gmail.com', datetime.date(2021, 4, 18), 'Eritrea', 'Illinois', None)
(77, 'Kelly Collins', 'douglasmichael@yahoo.com', datetime.date(2023, 11, 19), 'Cyprus', 'Nebraska', None)
(78, 'Nicholas Velez', 'edward25@stokes.info', datetime.date(2024, 3, 27), 'Burundi', 'Utah', None)
(79, 'Heather Rivera', 'taylorvega@livingston-smith.org', datetime.date(2021, 1, 27), 'Australia', 'Iowa', None)
(80, 'Benjamin Stuart', 'james23@adams-ray.com', datetime.date(2024, 7, 19), 'Netherlands', 'Iowa', None)
(81, 'Cody Kelley', 'tiffany22@saunders.biz', datetime.date(2021, 8, 25), 'Germany', 'Connecticut', None)
(82, 'Judith Poole', 'butlerdaniel@sheppard.com', datetime.date(2023, 8, 22), 'Jordan', 'Kansas', None)
(83, 'Kelsey Coffey', 'shannon92@gmail.com', datetime.date(2021, 2, 18), 'Greece', 'Ohio', None)
(84, 'Justin Mann Jr.', 'lindsay65@smith-scott.com', datetime.date(2020, 3, 22), 'Bosnia and Herzegovina', 'Michigan', None)
(85, 'Dean Russo', 'griffinjose@gmail.com', datetime.date(2021, 6, 13), 'Estonia', 'Alaska', None)
(86, 'Eric Hull', 'ortizkaren@yahoo.com', datetime.date(2020, 10, 24), 'Portugal', 'Ohio', None)
(87, 'Gary Henderson', 'kimberlygonzales@gilbert.com', datetime.date(2023, 11, 26), 'Germany', 'Missouri', None)
(88, 'Kaitlyn Wall DVM', 'rtrevino@hogan.info', datetime.date(2024, 3, 28), 'Kazakhstan', 'Georgia', None)
(89, 'Daniel Massey', 'williskatie@bailey.info', datetime.date(2021, 5, 23), 'Eritrea', 'Wyoming', None)
(90, 'Stephanie Jensen', 'torresdaniel@johnson.org', datetime.date(2022, 11, 9), 'Solomon Islands', 'North Carolina', None)
(91, 'Terry Young', 'brad56@duran.biz', datetime.date(2024, 5, 1), 'Botswana', 'Nevada', None)
(92, 'Sue Beard', 'smarshall@gmail.com', datetime.date(2021, 1, 31), 'Cuba', 'Connecticut', None)
(93, 'Karen King', 'osmith@bennett-martin.org', datetime.date(2023, 9, 6), 'Cook Islands', 'Alabama', None)
(94, 'Samantha Dillon', 'amber18@alvarado-rodriguez.info', datetime.date(2024, 4, 28), 'Macao', 'Pennsylvania', None)
(95, 'Jose Rasmussen', 'qbrown@mcmahon.org', datetime.date(2022, 4, 25), 'United States of America', 'Nevada', None)
(96, 'John Morris', 'sharrison@hotmail.com', datetime.date(2022, 9, 9), 'Australia', 'Virginia', None)
(97, 'Teresa Phillips', 'madison77@ayala-jones.com', datetime.date(2021, 11, 30), 'Tajikistan', 'Alaska', None)
(98, 'Melinda Mcmillan', 'jenna57@adams.org', datetime.date(2023, 5, 12), 'Austria', 'Nebraska', None)
(99, 'Carla Thompson', 'stephanie27@parker-jackson.com', datetime.date(2022, 12, 15), 'Guinea', 'Arizona', None)
(100, 'Jennifer Moore', 'lawrence31@dunn-powers.com', datetime.date(2024, 9, 12), 'Afghanistan', 'New Hampshire', None)
Conexão ao MySQL encerrada.

# Juntar as tabelas SQL Server e My SQL

### DataFrame SQLServer

In [3]:
# DataFrame SQL Server
import pyodbc
import pandas as pd

conn = pyodbc.connect('DRIVER={ODBC Driver 18 for SQL Server};'
                      'SERVER=localhost,1434;'
                      'DATABASE=FinanceiroSQLServer;'
                      'UID=sa;'
                      'PWD=SuaSenhaForteAqui!123;'
                      'Encrypt=yes;TrustServerCertificate=yes;',
                       autocommit=False  
)

# Criar DataFrame diretamente da consulta
df_transacoes = pd.read_sql("SELECT ID_Transacao, Valor, Data_Transacao, ID_Cliente, Categoria_Transacao, Meio_Pagamento FROM FinanceiroSQLServer.dbo.TransacoesFinanceiras", conn)

print(f"DataFrame criado com {len(df_transacoes)} registros")
display(df_transacoes)

conn.close()

DataFrame criado com 1000 registros

/tmp/ipykernel_3549/4121682663.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_transacoes = pd.read_sql("SELECT ID_Transacao, Valor, Data_Transacao, ID_Cliente, Categoria_Transacao, Meio_Pagamento FROM FinanceiroSQLServer.dbo.TransacoesFinanceiras", conn)

,ID_Transacao,Valor,Data_Transacao,ID_Cliente,Categoria_Transacao,Meio_Pagamento
0,1,3938.35,2023-05-02 12:42:21,26,Alimentação,Dinheiro
1,2,2836.16,2024-01-09 07:09:43,5,Alimentação,Cartão de Débito
2,3,548.75,2023-12-04 17:31:07,62,Lazer,Transferência
3,4,1500.16,2023-05-12 20:04:22,4,Educação,Cartão de Débito
4,5,1076.37,2023-05-23 19:27:33,7,Alimentação,Transferência
...,...,...,...,...,...,...
995,996,285.27,2023-09-12 02:27:23,4,Lazer,Dinheiro
996,997,3231.50,2023-11-25 11:29:14,1,Educação,Dinheiro
997,998,162.48,2023-11-29 04:12:13,51,Transporte,Transferência
998,999,1527.40,2024-10-22 07:16:35,70,Saúde,Cartão de Débito
999,1000,79.14,2024-03-14 04:53:28,72,Alimentação,Cartão de Débito

### DataFrame MySql

In [4]:
# Data Frame My SQL
import mysql.connector
import pandas as pd

try:
    # Conexão ao banco de dados
    conexao = mysql.connector.connect(
        host='localhost',      
        database='ClientesMySQL',  
        user='root',    
        password='1234'   
    )

    if conexao.is_connected():
        print("Conexão bem-sucedida ao MySQL!")
        
        # Criar DataFrame diretamente da consulta
        df_clientes = pd.read_sql("SELECT * FROM Clientes", conexao)
        
        print(f"DataFrame criado com {len(df_clientes)} registros")
        print(df_clientes)

except mysql.connector.Error as e:
    print(f"Erro ao conectar ao MySQL: {e}")
finally:
    # Fechando a conexão
    if 'conexao' in locals() and conexao.is_connected():
        conexao.close()
        print("Conexão ao MySQL encerrada.")

Conexão bem-sucedida ao MySQL!
DataFrame criado com 99 registros
    ID_Cliente              Nome                            Email  \
0            1      Andrew Knapp        david26@perry-vasquez.com
1            2     Brian Sanchez  kenneth27@washington-krause.com
2            3    Whitney Nguyen                  swang@gmail.com
3            4       Anita Ramos        donaldmiller@gonzalez.com
4            5       Alice Smith         ellisandre@frederick.com
..         ...               ...                              ...
94          96       John Morris            sharrison@hotmail.com
95          97   Teresa Phillips        madison77@ayala-jones.com
96          98  Melinda Mcmillan                jenna57@adams.org
97          99    Carla Thompson   stephanie27@parker-jackson.com
98         100    Jennifer Moore       lawrence31@dunn-powers.com

   Data_Cadastro         Pais          Estado Telefone
0     2021-12-31        Macao          Oregon     None
1     2020-06-13        Palau       Louisiana     None
2     2023-06-27       Panama           Texas     None
3     2022-12-17     Maldives  South Carolina     None
4     2023-06-02   Montserrat         Alabama     None
..           ...          ...             ...      ...
94    2022-09-09    Australia        Virginia     None
95    2021-11-30   Tajikistan          Alaska     None
96    2023-05-12      Austria        Nebraska     None
97    2022-12-15       Guinea         Arizona     None
98    2024-09-12  Afghanistan   New Hampshire     None

[99 rows x 7 columns]
Conexão ao MySQL encerrada.

/tmp/ipykernel_3549/2895753534.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_clientes = pd.read_sql("SELECT * FROM Clientes", conexao)

### Merge dos DataFrames

In [5]:
# Merge entre transações e clientes
df_merged = pd.merge(df_transacoes, df_clientes, left_on='ID_Cliente', right_on='ID_Cliente', how='inner')
print(f"DataFrame merged com {len(df_merged)} registros")
display(df_merged)

DataFrame merged com 993 registros

,ID_Transacao,Valor,Data_Transacao,ID_Cliente,Categoria_Transacao,Meio_Pagamento,Nome,Email,Data_Cadastro,Pais,Estado,Telefone
0,1,3938.35,2023-05-02 12:42:21,26,Alimentação,Dinheiro,Jeremy Martin,billgarrett@williams.com,2023-12-16,Bahamas,Vermont,None
1,2,2836.16,2024-01-09 07:09:43,5,Alimentação,Cartão de Débito,Alice Smith,ellisandre@frederick.com,2023-06-02,Montserrat,Alabama,None
2,3,548.75,2023-12-04 17:31:07,62,Lazer,Transferência,Mark Sweeney,montgomeryryan@hotmail.com,2022-12-13,Finland,Ohio,None
3,4,1500.16,2023-05-12 20:04:22,4,Educação,Cartão de Débito,Anita Ramos,donaldmiller@gonzalez.com,2022-12-17,Maldives,South Carolina,None
4,5,1076.37,2023-05-23 19:27:33,7,Alimentação,Transferência,Mark Bell,dawn89@gonzalez.com,2023-01-16,Chile,Alaska,None
...,...,...,...,...,...,...,...,...,...,...,...,...
988,996,285.27,2023-09-12 02:27:23,4,Lazer,Dinheiro,Anita Ramos,donaldmiller@gonzalez.com,2022-12-17,Maldives,South Carolina,None
989,997,3231.50,2023-11-25 11:29:14,1,Educação,Dinheiro,Andrew Knapp,david26@perry-vasquez.com,2021-12-31,Macao,Oregon,None
990,998,162.48,2023-11-29 04:12:13,51,Transporte,Transferência,Paige Larson DDS,austin36@bonilla-howard.com,2024-09-03,Svalbard & Jan Mayen Islands,North Carolina,None
991,999,1527.40,2024-10-22 07:16:35,70,Saúde,Cartão de Débito,Dustin Blake,mmcclain@bond.com,2020-09-10,Cameroon,Wisconsin,None
992,1000,79.14,2024-03-14 04:53:28,72,Alimentação,Cartão de Débito,Mark Morton,patriciaspencer@austin.com,2021-05-25,Cote dIvoire,Wyoming,None

## Diagnóstico do Merge

In [6]:
# IDs únicos em cada DataFrame
ids_transacoes = set(df_transacoes['ID_Cliente'].unique())
ids_clientes = set(df_clientes['ID_Cliente'].unique())

print(f"IDs únicos em transações: {len(ids_transacoes)}")
print(f"IDs únicos em clientes: {len(ids_clientes)}")

# IDs que estão em transações mas não em clientes
ids_sem_cliente = ids_transacoes - ids_clientes
print(f"IDs sem cliente: {sorted(ids_sem_cliente)}")

# Quantas transações têm esses IDs
transacoes_sem_cliente = df_transacoes[df_transacoes['ID_Cliente'].isin(ids_sem_cliente)]
print(f"Transações perdidas: {len(transacoes_sem_cliente)}")
print(transacoes_sem_cliente[['ID_Transacao', 'ID_Cliente', 'Valor']])

IDs únicos em transações: 100
IDs únicos em clientes: 99
IDs sem cliente: [np.int64(8)]
Transações perdidas: 7
     ID_Transacao  ID_Cliente    Valor
71             72           8   506.80
317           318           8  2115.97
382           383           8   827.82
447           448           8  2337.66
513           514           8   237.38
722           723           8    72.44
955           956           8  1454.11

### Adicionando Cliente ID 8

In [7]:
from datetime import date
import pandas as pd

# Adicionar cliente ID 8
novo_cliente = pd.DataFrame({
    'ID_Cliente': [8],
    'Nome': ['Sem Info'],
    'Email': ['sem.info@email.com'],
    'Data_Cadastro': [date.today()],
    'Pais': ['Sem Info'],
    'Estado': ['Sem Info'],
    'Telefone': [None]
})

df_clientes = pd.concat([df_clientes, novo_cliente], ignore_index=True)
print(f"Cliente ID 8 adicionado. Total de clientes: {len(df_clientes)}")
print(df_clientes[df_clientes['ID_Cliente'] == 8])

Cliente ID 8 adicionado. Total de clientes: 100
    ID_Cliente      Nome               Email Data_Cadastro      Pais  \
99           8  Sem Info  sem.info@email.com    2025-10-16  Sem Info

      Estado Telefone
99  Sem Info     None

### DF Merge Reprocessado com o id_cliente 8

In [8]:
# df_merged reprocessado
df_merged = pd.merge(df_transacoes, df_clientes, left_on='ID_Cliente', right_on='ID_Cliente', how='inner')
print(f"DataFrame merged com {len(df_merged)} registros")
display(df_merged)

DataFrame merged com 1000 registros

,ID_Transacao,Valor,Data_Transacao,ID_Cliente,Categoria_Transacao,Meio_Pagamento,Nome,Email,Data_Cadastro,Pais,Estado,Telefone
0,1,3938.35,2023-05-02 12:42:21,26,Alimentação,Dinheiro,Jeremy Martin,billgarrett@williams.com,2023-12-16,Bahamas,Vermont,None
1,2,2836.16,2024-01-09 07:09:43,5,Alimentação,Cartão de Débito,Alice Smith,ellisandre@frederick.com,2023-06-02,Montserrat,Alabama,None
2,3,548.75,2023-12-04 17:31:07,62,Lazer,Transferência,Mark Sweeney,montgomeryryan@hotmail.com,2022-12-13,Finland,Ohio,None
3,4,1500.16,2023-05-12 20:04:22,4,Educação,Cartão de Débito,Anita Ramos,donaldmiller@gonzalez.com,2022-12-17,Maldives,South Carolina,None
4,5,1076.37,2023-05-23 19:27:33,7,Alimentação,Transferência,Mark Bell,dawn89@gonzalez.com,2023-01-16,Chile,Alaska,None
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,285.27,2023-09-12 02:27:23,4,Lazer,Dinheiro,Anita Ramos,donaldmiller@gonzalez.com,2022-12-17,Maldives,South Carolina,None
996,997,3231.50,2023-11-25 11:29:14,1,Educação,Dinheiro,Andrew Knapp,david26@perry-vasquez.com,2021-12-31,Macao,Oregon,None
997,998,162.48,2023-11-29 04:12:13,51,Transporte,Transferência,Paige Larson DDS,austin36@bonilla-howard.com,2024-09-03,Svalbard & Jan Mayen Islands,North Carolina,None
998,999,1527.40,2024-10-22 07:16:35,70,Saúde,Cartão de Débito,Dustin Blake,mmcclain@bond.com,2020-09-10,Cameroon,Wisconsin,None
999,1000,79.14,2024-03-14 04:53:28,72,Alimentação,Cartão de Débito,Mark Morton,patriciaspencer@austin.com,2021-05-25,Cote dIvoire,Wyoming,None

## Df_Agrupado e salvar arquivo csv no Hadoop

### Df_Agrupado

In [22]:
# DF Agrupado por Ano - Mes - Categoria - Valor Total
df_merged['Ano'] = df_merged['Data_Transacao'].dt.year
df_merged['Mes'] = df_merged['Data_Transacao'].dt.month

df_agrupado = df_merged.groupby(['Ano', 'Mes', 'Categoria_Transacao'])['Valor'].sum().reset_index()
print(f"DataFrame agrupado com {len(df_agrupado)} registros")
display(df_agrupado)

DataFrame agrupado com 121 registros

      Ano  Mes Categoria_Transacao     Valor
0    2022   12            Educação   1424.16
1    2023    1         Alimentação  23061.17
2    2023    1            Educação  12217.12
3    2023    1               Lazer  33851.82
4    2023    1               Saúde  18306.81
..    ...  ...                 ...       ...
116  2024   12         Alimentação  22801.72
117  2024   12            Educação  15708.65
118  2024   12               Lazer  20519.57
119  2024   12               Saúde  23954.97
120  2024   12          Transporte  13884.31

[121 rows x 4 columns]

In [ ]:
# Salvando DataFrame agrupado em CSV na pasta arquivo_csv
df_agrupado.to_csv('arquivo_csv/Transacoes_Ano_Mes_Categoria2.csv', index=False)
df_agrupado.to_csv("Transacoes_Ano_Mes_Categoria.csv", index=False)
print("DataFrame agrupado e salvo como: Transacoes_Ano_Mes_Categoria.csv")

DataFrame agrupado salvo em 'file_name = Transacoes_Ano_Mes_Categoria.csv

### Salvando no Hadoop como .csv

In [23]:
from hdfs import InsecureClient
client = InsecureClient('http://localhost:9870', user='root')
print(client.list('/'))

['Financeiro', 'portarias', 'portarias2', 'portarias3', 'upload_test', 'webhdfs']

In [ ]:
from hdfs import InsecureClient
import os

# Caminho local do arquivo
local_folder = "/home/henriquenunes/curso_python/Aula16/arquivo_csv"
file_name = "Transacoes_Ano_Mes_Categoria.csv"
local_file_path = os.path.join(local_folder, file_name)

# Conexão com Hadoop via Docker
hdfs_url = "http://localhost:9870"  
hdfs_user = "root"
hdfs_dest_path = "/Financeiro"

# Criar cliente HDFS
client = InsecureClient(hdfs_url, user=hdfs_user)

# Garantir que a pasta exista no HDFS
client.makedirs(hdfs_dest_path)

# Caminho final no HDFS
hdfs_file_path = f"{hdfs_dest_path}/{file_name}"

# Upload
client.upload(hdfs_file_path, local_file_path, overwrite=True)

print(f"✅ Arquivo enviado com sucesso para: {hdfs_file_path}")

✅ Arquivo enviado com sucesso para: /Financeiro/Transacoes_Ano_Mes_Categoria2.csv

In [27]:
from hdfs import InsecureClient

# URL do seu namenode (porta padrão 9870 para WebHDFS)
hdfs_url = "http://localhost:9870"
user = "root"

# Cria o cliente
client = InsecureClient(hdfs_url, user=user)

# Caminho que você quer listar
path = "/Financeiro"

# Lista os arquivos e diretórios
arquivos = client.list(path)

print("Arquivos encontrados em", path, ":")
for arquivo in arquivos:
    print("-", arquivo)

Arquivos encontrados em /Financeiro :
- Transacoes_Ano_Mes_Categoria.csv
- Transacoes_Ano_Mes_Categoria2.csv